$violet :#AD1FEA;
$blue :#4661E6;
$black : #373F68;
$white: #ffffff;
$white-blue: #F2F4FF;
$open-white: #F7F8FD;
$dark: #3A4374;
$open-dark: #647196;
$pink: #F49F85;
$sky: #62BCFA;
$cyan: #0e8784;
$dark-grey: #333D4B;
$pale: #FDD6BA;
$cream: #FEFCF7;
$grey: #83888F;