.element {
  display: inline-block;
  height: 53px;
  width: 40px;
  color: $dark;
  border-radius: 10px;
  background: #F2F4FE;
  border-radius: 10px;
  padding: 26px 11px 8px 11px;
  font-family: Jost;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  cursor: pointer;

  &:hover {
    background-color: #CFD7FF;
  }

  &:active {
    background-color: $blue;
    background-image: url(./../images/el-icon2.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    padding-top:14px 16px 8px;
    color: $white;
  }

  &:before {
    content: "";
    display: inline;
    padding-bottom: -18px;
    width: 8px;
    height: 4px;
    background-image: url(./../images/el-icon.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
  }
}

.ux {
  background-color: $white-blue;
  color: $blue;
  display: inline-block;
  padding: 6px 15px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  border-radius: 10px;
  text-decoration: none;

  &:hover {
    background-color: #CFD7FF;
  }

  &:active {
    color: #ffffff;
    background-color: $blue;
  }
}

.drop {
  //list-style-type: none;
  background-color: $black;
  display: flex;
  align-items: center;
  margin-left: 38px;

  &__item {
    display: flex;
    flex-direction: column;
    //background-color: #ffffff;
    //padding: 0;
    //margin: 0;
    position: relative;
  }

  &__link {
    //position: relative;
    display: flex;
    background-color: #ffffff;
    padding: 0;
    text-decoration: none;
  }

  &__item:hover &__inner {
    display: block;
    //margin-top: 42px;
    border-radius: 12px;
    text-decoration: none;
  }

  &__inner {
    display: none;
    position: absolute;
    top: 100%;
    list-style-type: none;
    //background-color: $white;
    margin: 0;
    padding: 0;

    &-item {
      //padding: 12px 141px 12px 24px;
      margin: 5px;
      //background-color: $white;
    }

    &-link {
      display: flex;
      background-color: $white;
      padding: 12px 141px 12px 24px;
    }
  }

  &:after {
    display: inline;
    padding-right: 16px;
    width: 8px;
    height: 4px;
    background-image: url(./../images/drop-icon.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
  }

  &:hover {
    display: inline-block;
    color: #F2F4FE;
    background-image: url(./../images/drop-icon2.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right center;
    margin-right: 16px;
  }
}